@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: #d8d8d8cb;
}
.indisponible{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.indisponible h2, h3{
    font-size: 4rem;
    display: block;
   text-transform: capitalize;
}
.disponible button{
    cursor: pointer;
}

.box h2{
    color: #5c646e;
    font-size: 2rem;
}
button:hover{
    background: #000000cb;
    
  }
@media (max-width:800px) {
    .indisponible img{
        height: 70%;
        width: auto;
    }
}